<div class="first_line_all_questions">
  <span class="title">
    <%= link_to question.title, question_path(question.id) %>
  </span></div>
  <div class="title_username"> Asked by: <%= question.user.username %></div>
  <div class="photo_upload">
  <img src="<%= question.path || question.file.thumb %>">
</div>

