<!-- <div class="subnavbar_user_profile">
  < link_to "Summary", user_path(@current_user), class: "link_user_nav" %>
  < link_to "My Questions", profile_questions_path, class: "link_user_nav" >
  < link_to "My Answers", profile_answers_path, class: "link_user_nav" >
  < link_to "Edit", root_path, class: "link_user_nav" %>
</div>
 -->