* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #B82D22;
}

a:hover {
    color: #061021;
}

html, body, ul, ol, li, form,
fieldset, legend {
    background-color: #f2e8e1;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

fieldset, img {
    border: 0;
}

.user_creation input, textarea, select, button {
    font-family: arapey, sans-serif;
    font-size: 110%;
    line-height: 1.1;
}

button {
    width: auto;
    overflow: visible;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


li {
    list-style: none;
}

header {
  background-color: #f2e8e1;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 150px;
  color: #FFF4F0;
  font-size: 60px;
  font-family: arapey, sans-serif;
  margin-left: 20px;
}

header a:link {
    text-decoration: none;
    color: #B82D22;
}

header a:hover {
    color: #061021;
}

.username {
  float: right;
  font-size: 12px;
  line-height: 16px;
  text-transform:uppercase;
  font-family: josefin-sans, sans-serif;
  color: #061021;
  margin-bottom: 10px;
}

.username-comment {
  float: right;
  font-size: 10px;
  line-height: 14px;
  text-transform:uppercase;
  font-family: josefin-sans, sans-serif;
  color: #061021;
  margin-bottom: 10px;
}

.answer_form {
  width: 100%;
  margin: 20px auto;
  font-size: 14px;
  line-height: 18px;
}

.answer_form h3{
  margin-top: 10px;
  font-family: arapey, sans-serif;
  text-transform: uppercase;
}


.answer_upload {
  margin-top:20px;
}
/*.answer_form input {
  margin-bottom: 20px;
  margin-left: 10px;
}

.answer_form input[type="text"] {
  margin-bottom: 20px;
  margin-left: 10px;
}*/

.answer_form input, textarea {
    font-family: arapey, sans-serif;
    font-size: 110%;
    line-height: 1.1;
    text-align: left;
}

/*.answer_form input[type="textarea"] {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 300px;
}*/

/*.answer_form label {
  margin-right: 20px;
}*/

.result-image.example { display: none;}
.result-image {
  float: left;
  width: 308px;
  height: 350px;
  margin-right: 10px;
}

.user_container {
  width: 60%;
  margin: 20px auto;
  padding-right: 15px;
}

.user_container img{
  width: 80%;
}

.modify_sidebar {
  width: 200px;
  float:right;
  margin-top: 20px;
  margin-right:100px;
}

.created_albums {
  width: 500px;
}

.date {
  text-align: center;
  margin-bottom: 30px;
}

.second_line_faves{
  margin-bottom: 10px;
  text-align: center;
}

input[type=submit] {
  background-color: #5A78B0;
  color: #FFF4F0;
  border: 0;
  vertical-align: middle;
}

input[type=submit]:hover {
  background-color: #B82D22;
}

#modify_icons {
  margin-left: 50px;
}

.comment-input {
  position: relative;
  float:left;
}

.comment-submit {
  float: right;
}

.question_form {
  margin-top: 20px;
  width: 320px;
}

.question_field {
  width:400px;
  margin-bottom: 20px;
  font-family: arapey, sans-serif;
  font-size: 110%;
  line-height: 1.1;
}

.question_file {
  width:400px;
  margin-bottom: 10px;
  font-family: arapey, sans-serif;
  font-size: 110%;
  margin-left: 0;
}

.question_form_intro {
  font-family: arapey, sans-serif;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: left;
  width: 400px;
}

.question_form input, textarea {
    font-family: arapey, sans-serif;
    font-size: 110%;
    line-height: 1.1;
    text-align: left;
}

.answer_form_intro {
  margin-top:20px;
  font-family: arapey, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 400px;
}

.answer_form input, textarea {
    font-family: arapey, sans-serif;
    font-size: 110%;
    line-height: 1.1;
    text-align: left;
}

.comment_on_question {
  margin: 10px auto;
  text-align: center;
}
